IceMan/desktop.ini
IceMan/IceMan.sln
IceMan/IceMan.VC.db
IceMan/.vs/IceMan/v14/.suo
IceMan/Debug/
IceMan/IceMan/main.cpp
IceMan/IceMan/irrKlang.lib
IceMan/IceMan/freeglut_std.h
IceMan/IceMan/freeglut_ext.h
IceMan/IceMan/freeglut.lib
IceMan/IceMan/freeglut.h
IceMan/IceMan/SpriteManager.h
IceMan/IceMan/SoundFX.h
IceMan/IceMan/IceMan.vcxproj.user
IceMan/IceMan/IceMan.vcxproj.filters
IceMan/IceMan/IceMan.vcxproj
IceMan/IceMan/GraphObject.h
IceMan/IceMan/GameWorld.h
IceMan/IceMan/GameWorld.cpp
IceMan/IceMan/GameController.h
IceMan/IceMan/GameController.cpp
IceMan/IceMan/GameConstants.h
IceMan/IceMan/Assets/barrel.tga
IceMan/IceMan/irrKlang/irrKlang.h
IceMan/IceMan/irrKlang/ik_vec3d.h
IceMan/IceMan/irrKlang/ik_irrKlangTypes.h
IceMan/IceMan/irrKlang/ik_SAudioStreamFormat.h
IceMan/IceMan/irrKlang/ik_IVirtualRefCounted.h
IceMan/IceMan/irrKlang/ik_IAudioStream.h
IceMan/IceMan/irrKlang/ik_IAudioRecorder.h
IceMan/IceMan/irrKlang/ik_EStreamModes.h
IceMan/IceMan/irrKlang/ik_ESoundOutputDrivers.h
IceMan/IceMan/irrKlang/ik_ESoundEngineOptions.h
IceMan/IceMan/Release/IceMan.log
IceMan/IceMan/Release/IceMan.Build.CppClean.log
IceMan/IceMan/Debug/IceMan.tlog/CL.read.1.tlog
IceMan/IceMan/Debug/IceMan.tlog/CL.command.1.tlog
IceMan/IceMan/Debug/IceMan.log
IceMan/IceMan/Debug/IceMan.Build.CppClean.log
IceMan/IceMan/Debug/GameWorld.obj
IceMan/IceMan/Debug/GameController.obj
IceMan/IceMan/Debug/Actor.obj
IceMan/IceMan/Assets/woohoo.wav
IceMan/IceMan/Assets/waterpool.tga
IceMan/IceMan/Assets/water3.tga
IceMan/IceMan/Assets/rock3.tga
IceMan/IceMan/Assets/rock2.tga
IceMan/IceMan/Assets/rock1.tga
IceMan/IceMan/Assets/hardcore3.tga
IceMan/IceMan/Assets/hardcore2.tga
IceMan/IceMan/Assets/hardcore1.tga
IceMan/IceMan/Assets/gold.tga
IceMan/IceMan/Assets/goaway.wav
IceMan/IceMan/Assets/giveup.wav
IceMan/IceMan/Assets/foundoil.wav
IceMan/IceMan/Assets/finished.wav
IceMan/IceMan/Assets/dig4.tga
IceMan/IceMan/Assets/dig3.tga
IceMan/IceMan/Assets/dig2.tga
IceMan/IceMan/Assets/dig1.tga
IceMan/IceMan/Assets/die.wav
IceMan/IceMan/Assets/bribed.wav
IceMan/IceMan/irrKlang/ik_ISoundMixedOutputReceiver.h
IceMan/IceMan/irrKlang/ik_ISoundEngine.h
IceMan/IceMan/irrKlang/ik_ISoundEffectControl.h
IceMan/IceMan/irrKlang/ik_ISoundDeviceList.h
IceMan/IceMan/irrKlang/ik_ISound.h
IceMan/IceMan/irrKlang/ik_IRefCounted.h
IceMan/IceMan/irrKlang/ik_IFileReader.h
IceMan/IceMan/irrKlang/ik_IFileFactory.h
IceMan/IceMan/Debug/vc140.pdb
IceMan/IceMan/Debug/vc140.idb
IceMan/IceMan/Debug/main.obj
IceMan/IceMan/Debug/StudentWorld.obj
IceMan/IceMan/Debug/IceMan.tlog/link.write.1.tlog
IceMan/IceMan/Debug/IceMan.tlog/link.read.1.tlog
IceMan/IceMan/Debug/IceMan.tlog/link.command.1.tlog
IceMan/IceMan/Debug/IceMan.tlog/IceMan.lastbuildstate
IceMan/IceMan/Debug/IceMan.tlog/CL.write.1.tlog
IceMan/IceMan/Assets/water2.tga
IceMan/IceMan/Assets/water1.tga
IceMan/IceMan/Assets/theme.wav
IceMan/IceMan/Assets/squirt.wav
IceMan/IceMan/Assets/sonar.wav
IceMan/IceMan/Assets/sonar.tga
IceMan/IceMan/Assets/rockslide.wav
IceMan/IceMan/Assets/rock4.tga
IceMan/IceMan/Assets/protester3.tga
IceMan/IceMan/Assets/protester2.tga
IceMan/IceMan/Assets/protester1.tga
IceMan/IceMan/Assets/ouch.wav
IceMan/IceMan/Assets/ice.tga
IceMan/IceMan/Assets/hardcore4.tga
IceMan/IceMan/Assets/digging.wav
IceMan/IceMan/irrKlang/ik_ISoundStopEventReceiver.h
IceMan/IceMan/irrKlang/ik_ISoundSource.h
IceMan/IceMan/irrKlang/ik_IAudioStreamLoader.h
